$BackgroundColor:rgba(227, 235, 241, 1);
$MainColor:rgba(29, 47, 56, 1);
$White: rgba(255, 255, 255, 1);
$Black: black;
$Gray: gray;
$Green: rgba(23, 165, 80, 1);
$MainBackgroundColor: rgba(29, 47, 56, 0.8);
