.view{
    &__content{
        margin-top: 100px;
        padding-bottom: 30px;
        border-radius: 10px;
        background: {
            image: url(/src/img/background.jpg);
            repeat: no-repeat;
            position: center;
            size: cover;
        }
        @include for-desktop{
            display: flex;
            align-items: center;
        }
        &-img{
            display: block;
            max-width: 50px;
            margin: 0px auto;
            padding-top: 30px;
            @include for-desktop-HD{
                margin: 0px;
                margin-left: 30px;
            }
        }
        &-title{
            font-size: 28px;
            text-align: center;
            padding-top: 35px;
            @include for-desktop-HD{
                margin-left: 12px;
            }
        }
        &-button{
            text-decoration: none;
            display: block;
            font-size: 15px;
            color: $White;
            max-width: 111px;
            text-align: center;
            padding: 15px;
            background-color: $Green;
            border-radius: 5px;
            margin: {
                left: auto;
                right: auto;
                top: 30px;
            }
            &:hover{
                transition: 0.4s;
                background-color: rgb(15, 136, 64);
            }
            &:active{
                transition: 0.1s;
                color: $Gray;
            }
            @include for-desktop-HD{
                margin: {
                    top: 30px;
                    left: 280px;
                }
            }
        }
    }
}